body{
  margin: 0;
  font-family: sans-serif;
  background:#04D7F8;  
}

.form_usuario{
  width:70%;
  max-width:500px;
  margin:auto;
  background:#F9067F;
  border-radius:9px;
}


.contenedor_registro usuario{
  text-align:center;
 
}


.titulo_form_usuario{
  background:#06F9F9;
  color: #fff;
  padding: 10px;
  text-align:center;
  font-weight:100px;
  font-zise: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 10px solid crimson;
}
