.contenedor {
  border: solid 1px black;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.cabecera{
  display: flex;
  justify-content: space-between;
  postion: relative;
  height: 170px; 
}

.cabecera img{
  width: 100px;
}

.titulo_cabecera{
 position: absolute;
 top: 40px;
 left: 150px;
}

.slogan_cabecera{
  position: absolute;
  top: 90px;
  left: 235px;
}

.menu{
 margin: 10px 10px 0 0;
 position: unset;
 backgroud: none;
 height:unset;
 border: none;
}

.link{
  background: #0D035B;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.galeria { 
  width: 100%;
  height: 400px;
  background: #585859;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lienzo_galeria{
  width: 600px;
  height: 350px;
  overflow: hidden;
  background: #8EC01D;
}


















